{% extends "root/base.html" %}


{% block header %}
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  {% load static %}
  <link href="{% static 'root/css/aos.css' %}" rel="stylesheet" />
  <link href="{% static 'root/css/swiper-bundle.min.css' %}" rel="stylesheet" />
   
{% endblock %}
{% block content %}
<section>
  <main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0 justify-content-evenly" data-aos="fade-up">
            <div class="row justify-content-bottom">
            <div class="artist-thumbnail col-md-12 col-lg-3">
              <img src="../static/root/images/Person looking in binoculars-01.svg">  
            </div>
            <div class="col-md-12 col-lg-6 justify-content-center">
              <h2 class="mt-5">{{ artists.name }}</h2>
              <p class="mb-0">{{artists.description}}</p>
            </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <p>Sort By: </p>
              <a href="#" data-filter="*" class="active">Date</a>
              <a href="#" data-filter=".web">Popularity</a>
              <a href="#" data-filter=".design">Price</a>
            </div>
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          {% for image in images %}
            <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
              
              <a href="/preview?img_id={{image.pk}}" class="item-wrap fancybox">
                <div class="work-info">
                  <!-- <h3>Buy Now</h3> -->
                  <span>Buy Now</span>
                </div>
                <img class="img-fluid" src="../static/root{{image.image_path}}">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section><!-- End  Works Section -->

  </main><!-- End #main -->
  <!-- Vendor JS Files -->
  <script src="{% static 'root/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'root/js/aos.js' %}"></script>
  <script src="{% static 'root/js/swiper-bundle.min.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'root/js/art-work.js' %}">
  </script>

</section>
{% endblock content %}