{% extends "root/base.html" %}


{% block header %}
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/root/artistworks-assets/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/root/artistworks-assets/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

{% endblock %}
{% block content %}
<section>
  <main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>{{ artists.name }}</h2>
            <p class="mb-0">{{artists.description}}</p>
          </div>
          <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">All</a>
              <a href="#" data-filter=".web">Web</a>
              <a href="#" data-filter=".design">Design</a>
              <a href="#" data-filter=".branding">Branding</a>
              <a href="#" data-filter=".photography">Photography</a>
            </div>
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          {% for image in images %}
            <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
              <a href="/preview?img_id={{image.pk}}" class="item-wrap fancybox">
                <div class="work-info">
                  <h3>Boxed Water</h3>
                  <span>Web</span>
                </div>
                <img class="img-fluid" src="../static/root{{image.image_path}}">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section><!-- End  Works Section -->

  </main><!-- End #main -->
  <!-- Vendor JS Files -->
  <script src="../static/root/artistworks-assets/assets/vendor/aos/aos.js"></script>
  <script src="../static/root/artistworks-assets/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/root/artistworks-assets/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/root/artistworks-assets/assets/js/main.js">
  </script>

</section>
{% endblock content %}