<!doctype html>

<html lang="en">

{% extends "root/base.html" %}
{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/root/css/gallery.css">
{% endblock %}

{% block content %}
    <div class="body_wrapper">        
        <section class="breadcrumb_area_two breadcrumb_area_three parallaxie" data-background="img/bg.jpg" style="background: url(../static/root/images/cases_banner.jpg) no-repeat;">
            <div class="overlay"></div>
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1>Gallery Studio</h1>
                    <p>Have a look around</p>
                </div>
            </div>
        </section>

        <section class="portfolio_area sec_pad">                
            <ul class="list-unstyled gallery_filter gallery_filter_two">
                    <li class="active" data-filter="*">All Artists</li>
                    <li data-filter=".design">Theme</li>
                    <!-- <li data-filter=".market">Marketing</li>
                    <li data-filter=".develop">Development</li>
                    <li data-filter=".br">Branding</li> -->
                </ul>
            <div id="cards" class="container">

                <div class="row gallery_inner_four" id="gallery">
                </div>
            </div>
        </section>
    </div>
    <script src="../static/root/js/galleryview.js"></script>
    <script>

        $(() => {
            const goatViewer = new GalleryViewer(1, 6);
            goatViewer.load();
        });
    </script>
    <script src="../static/root/js/parallaxie.js"></script>
    <script src="../static/root/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/root/js/isotope-min.js"></script>
    <script src="../static/root/js/custom.js"></script>

{% endblock content %}