{% extends "root/base.html" %}

{% block header %}

{% endblock header %}

{% block content %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center ">
                <h1 class="mx-auto my-0 text-uppercase">Brush &#38; Lens</h1>
                <h2 class="text-white mx-auto mt-2 mb-4">Featured Art of the Week!</h2>
                <a class="btn btn-primary" href="/preview?img_id={{image.pk}}">Buy ></a>
                <a class="btn btn-primary" href="/artistworks?id={{artist.pk}}">View Artist ></a>
            </div>
        </div>
    </div>
</header>

<!-- About-->
<!-- <section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Artist of the Week!</h2>
                <p class="text-white-50 mx-auto mt-2 mb-5">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    <a href="/about">the artist</a>
                    <a class="btn btn-primary" href="/gallery">View ></a>
                </p>
            </div>
        </div>
        <img class="img-fluid" src="../static/root/images/main-2.jpg" alt="..." />
    </div>
</section> -->

<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../static/root/images/bg-masthead.jpg" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Artist of the Week!</h4>
                    <p class="text-black-50 mb-4">{{artist.name}}</p>
                    <p class="text-black-50 mb-4">{{artist.description}}</p>
                    <a class="btn btn-primary" href="/artistworks?id={{artist.pk}}">View ></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <h2 class="text-white mb-5">Contact US!</h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">3675, Market Street, Philedelphia, PA</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">contact@brushandlens.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>

{% load static %}
<script src="{% static 'root/js/scripts.js' %}"></script>
{% endblock content %}