{% extends "root/base.html" %}

{% block header %}

{% endblock header %}

{% block content %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center ">
                <h1 class="mx-auto my-0 text-uppercase">Brush &#38; Lens</h1>
                <h2 class="text-white mx-auto mt-4 mb-4">Featured Art of the Week!</h2>
                <a class="btn btn-outline-light" href="/preview?img_id={{image.pk}}">Buy Now></a>
                <a class="btn btn-outline-light" href="/artistworks?id={{artist.pk}}">View Artist></a>
            </div>
        </div>
    </div>
</header>

<!-- Featured Artist-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="../static/root/images/cat-7498364_1280.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Featured Artists</h4>
                            <p class="mb-0 text-white-50 mb-2">{{artist.name}}</p>
                            <p class="mb-0 text-white-50 mb-4">{{artist.description}}</p>
                            <a class="btn btn-outline-light" href="/gallery">View ></a>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="../static/root/images/bg-masthead.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Featured Artists</h4>
                            <p class="mb-0 text-white-50 mb-2">Ansel Adams</p>
                            <p class="mb-0 text-white-50 mb-4">American photographer and environmentalist</p>
                            <a class="btn btn-outline-light" href="/gallery">View ></a>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <h2 class="text-white mb-5">Contact US!</h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">3675, Market Street, Philedelphia, PA</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">hello@drexel.edu</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+1 (267) 752-0353</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% load static %}
<script src="{% static 'root/js/scripts.js' %}"></script>
{% endblock content %}