{% extends 'root/base.html' %}

{% load i18n %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">STUDIO</h1>
            <p class="lead fw-normal text-white-50 mb-0">Buy digital Downloads Or Prints</p>
        </div>
    </div>
</header>
    <h4>Log in</h4>

    <section>
    <div class="text-lg-right">
    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">Log in</button>

    </form>
    </div>
    </section>

    <ul>
        <li>
            <a href="{% url 'accounts:sign_up' %}">don't have an account? sign up here</a>
        </li>
    </ul>

{% endblock %}
