{% extends 'root/base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="content-wrapper d-flex flex-column flex-grow-1">
        <section>
            <div class="py-5 d-flex">
            </div>
            <div class="container d-flex justify-content-center">
                <div class="col-xl-5">
                    <form class="form-outline mb-4 py-3 form-control form-control-lg" method="post">
                        <div class="divider d-flex align-items-center my-1">
                            <p class="text-center fw-bold mx-3 mb-0 text-muted">LOGGED OUT</p>
                        </div>
                        <p>
                            Thanks for spending some quality time with the site today.
                        </p>
                        <div class="d-grid gap-2 col-6 mx-auto my-2">
                            <a href="{% url 'accounts:log_in' %}">Log in again</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
