{% extends 'root/base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="content-wrapper d-flex flex-column flex-grow-1" style="background-color: hsl(0, 0%, 96%)">
        <section>
            <div class="content-wrapper px-4 py-5 px-md-5 mb-5 text-center text-lg-start">
                <div class="py-5 d-flex">
                </div>
                <div class="container">
                    <div class="row gx-lg-5 align-items-right d-flex">
                        <div class="col-lg-7 mb-5 mb-lg-0 px-5">
                            <h1 class="my-5 display-3 fw-bold ls-tight">
                                PicturePerfect<br/>
                                <span class="text-primary">Unleashing Visual Stories</span>
                            </h1>
                            <p style="color: hsl(217, 10%, 50.8%)">
                                Welcome to Brush & Lens! 📸 Discover captivating images, explore talented photographers, and
                                find the perfect photo to bring your project to life. Dive in and let your creativity
                                soar!
                            </p>
                        </div>
                    <div class="col-lg-4 my-0 align-items-right">
                            <div class="card">
                                <div class="card-body py-4 px-md-5 my-auto">
                                    <form method="post">
                                        <div class="divider d-flex align-items-center p-3 my-1">
                                            <p class="text-center fw-bold mx-3 mb-0 text-muted">SIGN IN</p>
                                        </div>
                                        <div class="form-outline">
                                            {% csrf_token %}
                                            {% bootstrap_form form %}
                                        </div>
                                        <div class="d-grid gap-2 col-10 mx-auto my-3">
                                            <button class="btn btn-primary btn-sm">Log in</button>
                                        </div>

                                        <div class="divider d-flex align-items-center my-1">
                                            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                                        </div>
                                        <div class="text-center mb-5">

                                            <a href="{% url 'accounts:sign_up' %}">Don't have an account? Sign up
                                                here!</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
