{% extends 'root/base.html' %}

{% load i18n %}

{% block content %}

    <header class="py-5 d-flex">
        <div class="container px-4 px-lg-5 my-5">
            <div>
                <h1 class="display-4 fw-bolder">Change password</h1>
            </div>
        </div>
    </header>

    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-xl-6">
                </div>
                <div class="col-xl-8 offset-xl-1">
                    <form class="form-outline mb-4 form-control form-control-lg" method="post">
                        <div class="form-outline mt-4 mb-4">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                        </div>
                        <button class="btn btn-success">Change</button>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
